# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project

# Logs
*.log
logs/

# Test
src/test/

# Git
.git
.gitignore
.gitattributes

# Documentation
README.md
*.md

# CI/CD
.github
Jenkinsfile

# Misc
.DS_Store
